body {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: 'Inclusive Sans', sans-serif;
    color: #fff;
}


/* HEADER */

header {
    z-index: 10;
    width: 100%;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #171717;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    color: #fff;
}

.page-name {
    font-size: 32px;
    padding-bottom: 20px;
    font-family: 'Epilogue';
    font-weight: 900;
}

.links * {
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.links a:hover {
    background-color: #333;
}


/* MAIN BODY */

.main-flex {
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    gap: 5%;
    margin: auto;
}

.main-flex-child {
    flex: 1;
    text-align: left;
}

.main-flex-child img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    max-width: 60% !important;
}

/* FOOTER */

footer {
    position: absolute;
    margin-top: auto;
    width: 100%;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #171717;
}

.footer-flex {
    display: flex;
}

.footer-flex-child {
    flex: 1;
}

.logos {
    position: relative;
    bottom: 3px;
    right: 5px;
    padding: 0px;
    width: 16px;
    filter: brightness(100);
    vertical-align: text-bottom;
}


/* CONTACT FORM */

input, textarea {
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 0;
    width: 15vw;
    border-radius: 4px;
    resize: none;
}

input[type=submit] {
    width: 100%;
}

.form-contato {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 0;
}